.strict-impress-parent .its-impress-son {
	display: none;
}
.strict-impress-parent.impress-not-supported .its-impress-son {
	display: block;
}
@font-face {
	font-family: 'Noto Serif CJK SC';
	src: url('../fonts/NotoSerifCJKsc-VF.otf');
	font-weight: 100 900;
	/* font-style: normal; */
}
/* @font-face {
	font-family: 'Noto Sans CJK SC';
	src: url('../fonts/NotoSansCJKsc-VF.otf');
	font-weight: 100 900;
} */

#content-page ol li.toc-active {
	/* border: 3px solid ; */
	/* background-color: #A09BC3; */
	color: #D48E7E;
	font-size: larger;
	font-weight: bold;
	/* text-decoration: underline; */
}
div.step, .my-max-hw {
	width: max-content;
	height: max-content;
}